.container {
    padding: 10% 10% 10% 15%;
}
.form-group {
    margin-top: 15px;
}
.input-style {
    border-radius: 0px;
    border-bottom: 3px solid #B10064;
}
.input-style:focus {
    background-color: #D5FE00;
}
.btn {
    cursor: pointer;
}
.btn:hover {
    background-color: #000;
}
.color-hover:hover {
    color: #B10064;
    background-color: #000;
}
