<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h3 class="text-light">To Do List</h3>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-outline-light rounded-0" (click)="addNewInput();"><span class="fa fa-plus"></span></button>
        </div>
    </div>
    <div class="input row form-group" *ngFor="let input of inputs">
        <div class="col-sm-8">
            <input type="text" name="task" id="task" [(ngModel)]="input.task" class="form-control">
        </div>
        <div class="col-sm-1">
            <button class="btn btn-outline-light rounded-0" (click)="removeTask(input)"><span class="fa fa-check-square"></span></button>
        </div>
    </div>
</div>