.night-mode {
    background-color: #000;
}
.day-mode {
    background-color: #fff;
}
.container {
    padding: 10% 10% 10% 15%;
}
.form-group {
    margin-top: 15px;
}
.input-style {
    border-radius: 0px;
    border-bottom: 3px solid #B10064;
}
.input-style:focus {
    background-color: #D5FE00;
}
.btn {
    cursor: pointer;
}
.imp-night:hover {
    background-color: #000;
    color: #B10064;
}
.imp-day:hover {
    background-color: #fff;
    color: #B10064;
}
.night-color-hover:hover {
    color: #B10064;
    background-color: #000;
}
.day-color-hover:hover {
    color: #B10064;
    background-color: #fff;
}